/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


.products::-webkit-scrollbar,
.Electronic::-webkit-scrollbar,
.categories::-webkit-scrollbar,
.populars::-webkit-scrollbar {
    display: none;
}

.shader{
    background: linear-gradient(to right bottom, #69628a, #040309);
}

#indicators-carousel {
    margin-left: auto; /* Equal margin on left */
    margin-right: auto; /* Equal margin on right */
    max-width: 320px; /* Adjust the maximum width as needed */
    border: 2px solid #ccc; /* Border style */
    border-radius: 8px; /* Border radius */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

/* Style the carousel wrapper */
#carouselWrapper {
    position: relative;
    height: 150px; /* Initial height */
    overflow: hidden;
    border-radius: 6px; /* Match the border radius of the container */
}

/* Style individual carousel items */
[data-carousel-item] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Style carousel images */
[data-carousel-item] img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
}

/* Navigation buttons */
#prevBtn,
#nextBtn {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #fff;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}
@keyframes slideRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideRight {
    animation: slideRight 0.5s ease-out;
}




